#main-content {
	margin: 0px auto;
}

#select-date-label,
#select-location-label {
	padding-top: 30px;
	text-align: center;
}

#date-controls,
#location-controls {
	display: flex;
	justify-content: space-evenly;
}

.timeslot {
	text-align: center;
	color: #fff;
	.available {
		background-color: #17a2b8;
		transition: background-color .2s ease-in;
		border-radius: .2em;
		cursor: pointer;
		&:hover {
			background-color: #0d6572;
			transition: background-color .2s ease-in;
		}
	}
	.unavailable {
		color: #fff;
		background-color: #6c757d;
		border-radius: .2em;
	}
}

#date {
	width: 60px;
}

#year {
	width: 60px;
}

.modal-body {
	.row {
		#email,
		textarea {
			border: 1px solid #000;
		}
		#reservation-error {
			color: #f00;
			display: none;
		}
		#invalid-email-warning {
			color: #f00;
			display: none;
		}
		h5 {
			margin-left: 10px;
		}
		textarea {
			margin: 0px auto 20px;
		}
		input {
			margin-bottom: 16px;
			margin-left: 36px;
			width: 60%;
		}

		#requests-char-count {
			margin-left: 50px;
		}
	}
}
